.pure-g {
    display: flex;
    flex-wrap: wrap;
}

.pure-g [class *="pure-u"] {
    font-family: inherit;
}

#menuButton {
    background-color: black;
}

.hamburger {
    width: 20px;
    height: 2px;
    background-color: white;
    display: inline-block;
    margin: auto auto auto auto;
    position: relative;
    margin-top: calc(50% - 2px);
}

.hamburger::before, .hamburger::after {
    content: '';
    width: 20px;
    height: 2px;
    background-color: white;
    display: block;
    align-self: center;
    position: absolute;
}

.hamburger::before {
    margin-top: -6px;
}

.hamburger::after {
    margin-top: 6px;
}

.header,
.content {
    max-width: 65em;
    padding: 1em 3em 0 3em;
    font-family: 'Lato', sans-serif !important;
    font-weight: 300;
    margin: 0 auto;
}

.content {
    background-color: whitesmoke;
    min-height: 100vh;
}

.header {
    background-color: cornflowerblue;
    color: whitesmoke;
}

.content .left div {
    padding-right:0.25em;
}

.navHeader {
    padding-top: 1em;
    padding-bottom: 2em;
}

#navMenu {
    z-index: 10;
    position: fixed;
    overflow: hidden;
    width: 15em;
    background-color: #222222;
    height: 100vh;
    margin-left: 2em;
}

#menuButton {
    width: 2em;
    height: 2em;
    box-sizing: border-box;
    position: fixed;
    display: table-row;
    text-align: center;
}

#sidebar {
    background-color: #222222;
}

.title {
    font-size: 1.75em;
    font-weight: 700;
}

.title a {
    text-decoration: inherit;
}

.content a {
    color: cornflowerblue;
    font-family: sans-serif;
}

.date {
    padding: 0.25em 0.5em 0.5em 0;
}

.vcs {
    text-align: left;
}

.icon {
    max-width: 5em;
    width: inherit;
}

.res-skill {
    padding-bottom: 10px;
    padding-right: 5px;
}

.res-skill-name {
    font-size: 1.2em;
}

.res-keyword {}

.res-name {
    font-weight: 700;
    font-size: 2em;
    display: inline-block;
    max-width: calc(50% + .55em);
}

.pipe-after::after {
    content: "";
    border-right-width: 1px;
    border-right-style: solid;
    margin: 0 .5em;
    height: 1em;
    position: relative;
}

.res-header {
    padding-bottom: 2em;
}

.res-title {
    font-size: 1.75em;
    display: inline-block;
    max-width: calc(50% - .1em);
}

.res-section {
    padding-top: .25em;
    padding-bottom: .75em;
}

.res-section-header {
    font-size: 1.75em;
}

.res-section-content {
    page-break-inside: auto;
}

.res-contact-label {
    float: left;
    padding-right: 0;
    min-width: 4.5em;
}

.res-date {
    float: right;
    #font-size: initial;
    display: inline-block;
    width: inherit;
    text-align: right;
}

.res-summary {
    clear: both;
}

.res-company,
.res-edu-school {
    font-size: 1.2em;
}

.res-position {
    font-size: 1.1em;
    margin-bottom: 5px;
    display: inline-block;
}

.bigheader {
    font-size: 1.75em;
    margin-top: .8em;
}

.subheader {
    font-size: 1.25em;
}

.bigheader,
.subheader {
    font-weight: 500;
    display: inline-block;
    margin-bottom: 3px;
    margin-top: .8em;
}

.bigheader::after,
.subheader::after {
    content: "";
    border-bottom-style: solid;
    width: inherit;
    border-bottom-width: thin;
    border-bottom-color: cornflowerblue;
    display: block;
    background-color: transparent;
}

ul {
    padding-left: calc(.75em + 5px)
}

li {
    list-style-image: none;
    list-style-type: none;
}

li:before {
    content: '';
    width: 5px;
    height: 1px;
    background-color: cornflowerblue;
    display: inline-block;
    position: relative;
    transform: translateY(-.25em) translateX(-.75em);
    margin-left: -5px;
}

#titleNav {
    text-align: center;
}

.navBar {
    background-color: cornflowerblue;
    padding-bottom: 1em;
    text-align: center;
}

.navItem {
    color: white;
    display: inline-flex;
    margin-left: 3.5em;
    margin-right: 3.5em;
    overflow: auto;
}

.headerContent,
.titleContent {
    text-align: center;
}

.head-name {
    padding-top: .5em;
    /* padding-bottom: 1em; */
    margin: 0;
    font-size: 4em;
    font-weight: 300;
    display: inline-block;
}

.head-title {
    font-size: 2em;
    letter-spacing: 3px;
    vertical-align: super;
    margin-bottom: 1em;
    display: inline-block;
}

.exMenu {
    text-align: center;
}

.exMenuItem {
    padding: 0 .5em;
    text-align: center;
    margin: .5em 1em 0;
    display: inline-block;
}

#export {
    display: block;
    text-align: center;
    box-sizing: border-box;
    margin: 0 0 1.5em 0;
}

.button {
    color: inherit;
    border: solid thin;
    padding: .2em 1em;
    text-decoration: inherit;
    box-sizing: content-box;
}

.button.disabled {
    color: darkgray;
    pointer-events: none;
    cursor: default;
}

#header{
    display: none;
}

@media screen and (max-width: 55em){
    .navItem {
        margin-left: 1.5em;
        margin-right: 1.5em;
    }
    .head-name.pipe-after::after{
        display: none;
    }
    .head-title{
        display: block;
    }
}

@media screen and (max-width: 38.75em){
    .navItem {
        margin-left: .5em;
        margin-right: .5em;
    }
}

@media screen and (max-width: 31.25em){
    .navItem {
        display: block;
    }
    .navLink {
        box-sizing: initial;
        display: inline-block;
        margin: .1em .5em;
        width: calc(100% - 4em);
    }
    .header, .content {
        padding: 0;
    }
}

@media print{
    .content{
        background-color: initial;
        padding: 0;
        margin: 0;
        font-size: .6em;
    }
    .res-section-content {
        display: block;
    }
    .res-work{
        page-break-before: auto;
        page-break-inside: avoid;
    }
}