extends printResume

block export
    div#export
        div Export a copy
        span.exMenuItem: a.button(href="/export/resume.html") html
        span.exMenuItem: a.button(href="/export/resume.pdf") pdf
        span.exMenuItem: a.button(href="/export/resume.txt") txt
        span.exMenuItem: a.button(href="/export/resume.docx") word

block contact
    div.pure-u-lg-5-6.pure-u-1.res-section-content
        div
            label.res-contact-label Email
            span [hidden, visible in export]
        div
            label.res-contact-label Phone
            span [hidden, visible in export]
        div
            label.res-contact-label Website
            span: a(href=basics.website) #{basics.website}